/* Global Styles */
:root {
  /* Color Palette */
  --primary-color: #043a53;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --background-color: #f2f5f6;
  --text-color: #12141d;
  --textSec-color: #f0b73f;
  --border-color: #dee2e6;

  /* Font Sizes */
  --font-size-base: 16px;
  --font-size-h1: 3.5em;
  --font-size-h2: 3em;
  --font-size-h3: 2.7em;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1rem;
  --font-size-h6: 0.875rem;
  --line-height: 1.6;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* Apply Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  width: 100%;
}

.container,
.hero {
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-btn {
  background: var(--primary-color);
  color: white;
}

.login-btn {
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.signup-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0px 15px 30px 0px rgba(4, 58, 83, 0.4);
}

.login-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0px 15px 30px 0px rgba(4, 58, 83, 0.4);
}

.hero-buttons {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.hero-buttons .signup-btn {
  padding: 20px 24px;
  box-shadow: 0px 23px 47px 0px #043a533d;
}

.video-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  color: var(--primary-color);
  background-color: inherit;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 86vh;
  gap: 24px;
  text-align: center;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 2.5%;
  gap: var(--spacing-xxl);
}

.brand-country {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xxl);
  align-items: center;
}

.mobile-nav-card {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 55vh;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: auto;
}

.mobile-nav-card.active {
  display: grid;
  justify-content: space-between;
}

.mobl-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.mobl-nav-links li {
  margin-bottom: var(--spacing-xs);
}

.mobl-nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mobl-nav-links a:hover {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

.mobl-auth-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.mobl-auth-buttons .login-btn,
.mobl-auth-buttons .signup-btn {
  padding: 14px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.mobl-auth-buttons .login-btn:hover,
.mobl-auth-buttons .signup-btn:hover {
  background-color: rgba(4, 58, 83, 0.1);
  transform: translateY(-1px);
}

.mobl-nav-links,
.mobl-auth-buttons {
  padding: var(--spacing-md);
}

.video-content {
  position: relative;
}

.decorative-elements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.decorative-elements img {
  position: absolute;
}

.decorative-elements img:nth-child(1) {
  width: 10vw;
  height: 10vw;
  max-width: 100px;
  max-height: 100px;
}

.decorative-elements img:nth-child(2) {
  width: 3vw;
  height: 3vw;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

#video-section {
  background-color: var(--primary-color);
  padding: 5% 15% 0% 15%;
}

.video-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: var(--spacing-xxl);
}

.video-head .head2 {
  color: var(--textSec-color);
}

.video-head h2 {
  font-size: var(--font-size-h2);
  line-height: 1.3;
  color: white;
  flex: 1;
  text-align: left;
}

.video-head p {
  font-size: var(--font-size-md);
  line-height: 1.8;
  color: white;
  flex: 1;
  max-width: 350px;
  text-align: left;
}

.video-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 5% 15%;
  background: #ffffff;
}
#numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 5% 15%;
  background: #ffffff;
}
#numbers .card1 {
  align-items: center;
}
#numbers .card1 h2 {
  color: var(--primary-color);
}
.card1 {
  background: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: fit-content;
  gap: 12px;
  padding: 30px;
}

.benefits-btn {
  width: 50%;
  background: var(--primary-color);
  color: white;
}

#benefits .para1 {
  max-width: 250px;
}

#benefits > div {
  background: rgb(225, 231, 233);
  padding: 20px;
  border-radius: 16px;
  height: fit-content;
  width: 100%;
}

.card2,
.card3,
.card4 {
  display: grid;
  gap: 12px;
}

.card1 h2 {
  font-size: var(--font-size-h3);
  line-height: 1.3;
  max-width: 250px;
}

.card1 .signup-btn {
  margin-bottom: 15px;
}

#building-bridges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
  padding: 2% 8%;
  background: #ffffff;
  width: 100%;
}
.bridge-img img {
  width: 100%;
}

.bridges-card {
  width: 50%;
  text-align: left;
  display: grid;
  gap: var(--spacing-lg);
}

.bridges-card h2 {
  font-size: var(--font-size-h3);
  max-width: 450px;
  line-height: 1.3;
}

.bridges-card p {
  font-size: var(--font-size-base);
  max-width: 350px;
}

.bridges-card span {
  color: #92a7b0;
}

.bridges-btn {
  width: 25%;
  background: var(--primary-color);
  color: white;
}

/* Desktop Screens */
@media (min-width: 1025px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    gap: 10px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--background-color);
  }

  .mobl-navbar {
    display: none;
  }

  .mobl-herologo {
    display: none;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .nav-links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  .logo {
    height: 5%;
    padding-right: 8px;
  }

  .hero-logo {
    padding-top: 120px;
  }

  .hero-content h1 {
    font-size: var(--font-size-h1);
    line-height: 64px;
    text-align: center;
  }

  .hero-content p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-content h1 .highlight-text {
    color: var(--primary-color);
  }

  .video-head h1 {
    font-size: var(--font-size-h1);
    line-height: 64px;
    text-align: left;
  }
}

.video-img {
  display: flex;
  justify-content: center;
}

/* Mobile Screens */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    height: auto;
    padding: 25% 5%;
  }

  .hero-logo {
    display: none;
  }

  .mobl-herologo,
  .mobl-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .mobl-header {
    width: 100%;
  }

  .hero5,
  .hero6 {
    width: 50%;
  }

  .hero-content h1 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .hero-content p {
    font-size: var(--font-size-base);
    line-height: 22px;
    margin: 8px 12px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 40px;
  }

  .nav-links,
  .auth-buttons {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }

  .auth-buttons {
    flex-direction: column;
    gap: 8px;
  }

  .brands {
    flex-direction: column;
    padding: 15% 0%;
    gap: var(--spacing-md);
  }

  .brand-head {
    text-align: center;
  }

  .brand-country {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
  }

  .video-head h2 {
    font-size: var(--font-size-h3);
    line-height: 1.3;
    color: white;
    flex: 1;
    text-align: left;
  }

  .video-head p {
    font-size: 14px;
    line-height: 1.8;
    color: white;
    flex: 1;
    max-width: 350px;
    text-align: left;
  }

  #video-section {
    background-color: var(--primary-color);
    padding: 5% 10% 0% 10%;
  }

  .video-head {
    padding-bottom: var(--spacing-lg);
  }

  #benefits {
    grid-template-columns: 1fr;
    width: 100%;
  }
  #numbers {
  
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 12% 8%;

  }
  #numbers .card1{
    gap: 0px;
    padding: 0px;
  }
  #building-bridges {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 0%;
    gap: 20px;
  }

  .bridge-img {
    width: 100%;
    max-width: none;
    padding: 0%;
  }

  .bridges-card {
    display: grid;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: var(--spacing-xl);
  }

  .bridges-card h2 {
    justify-self: center;
    font-size: 1.5rem;
    max-width: 280px;
  }

  .bridges-card p {
    font-size: 0.9rem;
    justify-self: center;
  }
  .bridges-btn {
    width: 70%;
    background: var(--primary-color);
    color: white;
    justify-self: center;
  }
  #benefits {
    padding: 5% 5%;
  }
  .card1 {
    align-items: center;
  }
  .card1 h2 {
    font-size: 2em;
    line-height: 1.3;
    max-width: 400px;
    text-align: center;
  }
  .card1 p {
    max-width: 450px;
    text-align: center;
  }
}

/* Tablet Screens */
@media (min-width: 768px) and (max-width: 1025px) {
  .nav-links,
  .auth-buttons {
    display: none;
  }
  #benefits {
    padding: 5% 8%;
  }
  .bridges-card h2 {
    font-size: var(--font-size-h4);
    max-width: 450px;
    line-height: 1.3;
  }
  .bridges-btn {
    width: 70%;
    background: var(--primary-color);
    color: white;
    justify-self: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    background-color: var(--background-color);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 16% 8%;
    gap: 20px;
  }

  .hero-content h1 {
    font-size: 2.8rem;
    line-height: 1.4;
  }

  .hero-content p {
    font-size: 1.2rem;
    max-width: 650px;
    margin: 0 auto;
  }

  .hero-buttons {
    flex-direction: row;
    gap: 28px;
    justify-content: center;
  }

  .hero-buttons .signup-btn {
    padding: 18px 28px;
  }

  .hero-logo {
    display: none;
  }

  .mobl-herologo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: var(--spacing-lg);
  }

  .mobl-herologo img {
    height: auto;
  }

  .brands {
    flex-direction: column;
    padding: 5% 2.5%;
    gap: var(--spacing-md);
  }

  .brand-head {
    text-align: center;
  }

  .brand-country {
    gap: var(--spacing-xl);
  }
  #numbers {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 12% 8%;

  }
  #numbers .card1{
    gap: 0px;
    padding: 0px;
  }
}
